<h1>Volunteer Tracker</h1>

<h3>Available Projects</h3>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/project/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects available.</p>
<% end %>

<h4>Create a Project</h4>
<form class="form-group" action="/project" method="post">
  <input type="text" name="title" placeholder="Project Title" required>
  <button type="submit">Submit</button>
</form>
