<h1>Volunteer Tracker</h1>

<h3>Available Projects</h3>
<h4>Create a Project</h4>
<form class="form-group" action="/project" method="post">
  <label for="title">Title</label>
  <input class="title" id="title" type="text" name="title">
  <button type="submit">Create Project</button>
</form>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/project/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects available.</p>
<% end %>
