<h1>Volunteer Tracker</h1>

<h3>Available Projects</h3>

<form action="/projects" method ="post">
  <div class="form-group">
    <label for="title">title</label>
    <input id="title" name="title" class="form-control" type="text" placeholder="title" value="">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects available.</p>
<% end %>
